@import url('https://fonts.googleapis.com/css2?family=Allura&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";


::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-thumb{
  background: #434343; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b; 
}
::-webkit-scrollbar-track {
  background: #111;
}

  ::-webkit-scrollbar-track{
    background: #111; 
  }

@theme{
    --color-primary: #02343F;
    --color-secondary: #FFFCE1;
}
nav{
  top: env(safe-area-inset-top);
}

body{
  color: var(--color-secondary);
}